<% if @people.errors.any? %>
	<h2> The following errors prevented your person from saving: </h2>
<ul>
	<% @people.errors.full_messages.each do |msg| %>
		<li> <%= msg %> </li>
	<% end %>
</ul>
<% end %>

<li> <%= "Current time: #{Time.now.strftime "%I:%M %P (%m/%d)"}" %> </li>
<li> <%= "Current estimated seating time: #{@people.seating_time}" %> </li>

<h1> Edit an existing customer: </h1>
<%= form_for(@people) do |f| %>
	<fieldset>
		<legend>Person</legend>
	<div>
		<%= f.label :name %>
		<%= f.text_field :name %>
	</div>
	<div>
		<%= f.label :phone %>
		<%= f.text_field :phone %>
	</div>
	<div>
		<%= f.label :partysize %>
		<%= f.text_field :partysize %>
	</div>
	<div>
		<%= f.label :waitminutes %>
		<%= f.text_field :waitminutes %>
	</div>
	</fieldset>
	<%= f.submit %>

<% end %>