<h1> RestaurantMsgr </h1>

<h4> <%= "Current time: #{Time.now.strftime "%I:%M %P (%m/%d)"}" %> </h4>

<h5> <%= link_to "+ New customer", new_person_path %> </h5>

<!-- Quick list of waiting customers -->
<h3> Wait List </h3>
	<% sorted_people = @people.sort_by {|people| people[:seating_time]} %>
	<ol>
	<% sorted_people.each do |person| %>
		<li>
			<% if (DateTime.strptime(person.seating_time, "%I:%M %P (%m/%d)").to_time - (Time.now-7*3600)) < 0 %>
			<!-- if seating time is past due -->
				<b><font color = "red" > <%= "#{person.name} | Party of #{person.partysize} | Seating Time: #{person.seating_time} | SEATING OVERDUE" %> </font></b>
					<!-- links below: -->
					<%= link_to "Edit", edit_person_path(person.id) %> |
					<%= link_to "Delete", person_path(person.id), :method => :delete %> 
			<% else %>
				<%= "#{person.name} | Party of #{person.partysize} | Seating Time: #{person.seating_time}" %>
					<!-- links below: -->
					<%= link_to "Edit", edit_person_path(person.id) %> |
					<%= link_to "Delete", person_path(person.id), :method => :delete %>  
			<% end %>
		</li>
	<% end %>
	</ol>


<!-- Each customer's contact info, etc -->
<h3> Customer Details </h3>

<div class="row">
	<ol>
	
	<% sorted_people.each do |person| %>
		<div class = "col-md-3">
		<li>
			<% if (DateTime.strptime(person.seating_time, "%I:%M %P (%m/%d)").to_time - (Time.now-7*3600)) < 0 %>
			<!-- if seating time is past due -->
			 <font color = red > 
				<%= "Name: #{person.name}" %> <br>
				<%= "Phone #: #{person.phone}" %> <br>
				<%= "Party Size: #{person.partysize}" %> <br>
				<%= "Time Arrived: " + (person.created_at.in_time_zone("Pacific Time (US & Canada)").strftime "%I:%M %P")  %> <br>
				<%= "Given Wait Time: #{person.waitminutes} minutes" %> <br>
				<%= "Estimated Seating Time: " + (person.seating_time.in_time_zone("Pacific Time (US & Canada)").strftime "%I:%M %P")  %> <br>
				<!-- links below: -->
				<%= link_to "Edit", edit_person_path(person.id) %> |
				<%= link_to "Delete", person_path(person.id), :method => :delete %> 
			
			<!-- Text message section below: -->
			<%= form_tag person_messages_path(person.id), :method => :post do %>
				<% tableready = (DateTime.strptime(person.seating_time, "%I:%M %P (%m/%d)").to_time - (Time.now-7*3600))/60%>
					<% if tableready > 0 %>
						<%= text_area_tag :body, "Your table will be ready in #{tableready.round} minutes.", placeholder: "Type your text here" %><br>
					<% else %>
						<%= text_area_tag :body, "Your table is now ready!", placeholder: "Type your text here" %><br>
					<% end %>
					<%= submit_tag "Send Message" %>
			<% end %>
			</font>

			<% else %>
			<%= "Name: #{person.name}" %> <br>
			<%= "Phone #: #{person.phone}" %> <br>
			<%= "Party Size: #{person.partysize}" %> <br>
			<%= "Time Arrived: " + (person.created_at.in_time_zone("Pacific Time (US & Canada)").strftime "%I:%M %P")  %> <br>
			<%= "Given Wait Time: #{person.waitminutes} minutes" %> <br>
			<%= "Estimated Seating Time: " + (person.seating_time.in_time_zone("Pacific Time (US & Canada)").strftime "%I:%M %P")  %> <br>
			<!-- links below: -->
			<%= link_to "Edit", edit_person_path(person.id) %> |
			<%= link_to "Delete", person_path(person.id), :method => :delete %> 
			
			<!-- Text message section below: -->
			<%= form_tag person_messages_path(person.id), :method => :post do %>
				<% tableready = (DateTime.strptime(person.seating_time, "%I:%M %P (%m/%d)").to_time - (Time.now-7*3600))/60%>
					<% if tableready > 0 %>
						<%= text_area_tag :body, "Your table will be ready in #{tableready.round} minutes.", placeholder: "Type your text here" %><br>
					<% else %>
						<%= text_area_tag :body, "Your table is now ready!", placeholder: "Type your text here" %><br>
					<% end %>
					<%= submit_tag "Send Message" %>
			<% end %>
			<% end %>

		</li>
		</div>
	<% end %>
	
	</ol>
</div>